---
layout: default
title: Home
---

{% include intro.html %}

<section class="post-list">
  <div class="container">

    <h2>Also, sometimes I write stuff.</h2>

    {% for post in paginator.posts %}
      <article class="post-item">
        <p>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — 
          <strong><a class="post-link" href="{{ post.url}}">{{ post.title }}</a></strong>
          <br>
          <span>{{ post.description }}</span> <a class="post-link readmore" href="{{ post.url}}">Read more</a></p>
      </article>
    {% endfor %}
  </div>

  <div class="container">
    {% include pagination.html %}
  </div>
</section>
