/*
 * Stolen from akat1.pl, (thanks Mateusz Kocielski)
 * a cool blog under the https://en.wikipedia.org/wiki/ISC_license
 */

abbr { border-bottom: 1px dotted}

.container { margin-top:16vh; }

.baddirection{
  direction:rtl;
  unicode-bidi:bidi-override;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../fonts/raleway.woff2) format('woff2');
}

.entry-content {
    font-family: 'Raleway', sans-serif;
}

.title {
    font-size: 20pt;
    line-height: 150%;
}

.date {
    color:rgb(60, 120, 160);
    font-size: 9pt;
}

a, a:link, a:visited {
    color:rgb(60, 120, 160);
  text-decoration:none;
}

a:hover { color:rgb(140, 180, 230); }

.header {
    font-family: "Courier New", Monospace;
    text-align: center;
    padding-bottom: 10pt;
}
.header pre {
    font-family: "Courier New", Monospace;
    font-size: 8pt;
    line-height: 1;
    white-space: pre;
    margin-bottom: 1rem;
    overflow: hidden;
}

footer {
    color: gray;
    font-size: 10pt;
    text-align: center;
}

.left { float:left; }

.codehilite {
  font-size: 90%;
  background: #FcFcFc;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: block;
  padding: 0rem 1.5rem;
  margin-bottom: 2rem;
  white-space: pre;
  overflow: auto;
}

.archive { margin: 0 0 4.5em 180px; }

h1 { font-size: 150%; }
h2 { font-size: 135%; }
h3 { font-size: 125%; }
h4 { font-size: 110%; }

blockquote {
    border-left: 3px solid grey;
    padding-left: 10px;
}

img {
  max-width: 100%; 
  display: block;
  margin: auto;
}

.glitch {
  color: #222;
    padding-top: 3%;
}
.glitch:after, .glitch:before {
  position: absolute;
  background: white;
    width: 40%;
  content: attr(data-text);
  clip: rect(0, 900px, 0, 0);
}
.glitch:after {
  animation: glitch-anim 2s infinite linear alternate-reverse;
  left: 1px;
  text-shadow: 1px 0 red;
}
.glitch:before {
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
  left: -1px;
  text-shadow: -1px 0 limegreen;
}
@keyframes glitch-anim {
  0% { clip: rect(3px, 9999px, 93px, 0); }
  5% { clip: rect(53px, 9999px, 78px, 0); }
  10% { clip: rect(10px, 9999px, 75px, 0); }
  15% { clip: rect(32px, 9999px, 40px, 0); }
  20% { clip: rect(65px, 9999px, 62px, 0); }
  25% { clip: rect(31px, 9999px, 14px, 0); }
  30% { clip: rect(94px, 9999px, 87px, 0); }
  35% { clip: rect(81px, 9999px, 41px, 0); }
  40% { clip: rect(45px, 9999px, 50px, 0); }
  45% { clip: rect(82px, 9999px, 41px, 0); }
  50% { clip: rect(71px, 9999px, 3px, 0); }
  55% { clip: rect(75px, 9999px, 60px, 0); }
  60% { clip: rect(20px, 9999px, 49px, 0); }
  65% { clip: rect(67px, 9999px, 92px, 0); }
  70% { clip: rect(47px, 9999px, 55px, 0); }
  75% { clip: rect(63px, 9999px, 90px, 0); }
  80% { clip: rect(70px, 9999px, 92px, 0); }
  85% { clip: rect(41px, 9999px, 60px, 0); }
  90% { clip: rect(56px, 9999px, 79px, 0); }
  95% { clip: rect(21px, 9999px, 68px, 0); }
  100% { clip: rect(15px, 9999px, 72px, 0); }
}

@keyframes glitch-anim-2 {
  0% { clip: rect(65px, 9999px, 99px, 0); }
  5% { clip: rect(86px, 9999px, 70px, 0); }
  10% { clip: rect(79px, 9999px, 60px, 0); }
  15% { clip: rect(15px, 9999px, 88px, 0); }
  20% { clip: rect(24px, 9999px, 5px, 0); }
  25% { clip: rect(35px, 9999px, 3px, 0); }
  30% { clip: rect(56px, 9999px, 11px, 0); }
  35% { clip: rect(2px, 9999px, 38px, 0); }
  40% { clip: rect(60px, 9999px, 50px, 0); }
  45% { clip: rect(27px, 9999px, 4px, 0); }
  50% { clip: rect(79px, 9999px, 12px, 0); }
  55% { clip: rect(23px, 9999px, 8px, 0); }
  60% { clip: rect(65px, 9999px, 55px, 0); }
  65% { clip: rect(19px, 9999px, 7px, 0); }
  70% { clip: rect(43px, 9999px, 17px, 0); }
  75% { clip: rect(65px, 9999px, 91px, 0); }
  80% { clip: rect(45px, 9999px, 66px, 0); }
  85% { clip: rect(3px, 9999px, 2px, 0); }
  90% { clip: rect(58px, 9999px, 81px, 0); }
  95% { clip: rect(29px, 9999px, 20px, 0); }
  100% { clip: rect(82px, 9999px, 28px, 0); }
}
