
<nav class="nav">
  <div class="container">
    <ul class="navbar">
      <li><a href="{{ '/'}}">home</a></li>
      <li><a href="{{ '/about/'}}">about</a></li>
      <li><a href="{{ '/research/'}}">research</a></li>
    </ul>
  </div>
</nav>