---
layout: default
---

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Published {{ page.date | date: "%b %-d, %Y" }}</time>
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
      — 1 min read
    {% else %}
      — {{ words | divided_by:180 }} mins read
    {% endif %}
    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include post-share.html %}
  </div>
</article>

<section class="post-list">
  <div class="container">

    <h3>Recent Posts</h3>

    {% assign rsort_posts = site.posts | sort: 'date' | reverse %}
    {% for post in rsort_posts limit:3 %}
      <article class="post-item">
        <p>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — 
          <strong><a class="post-link" href="{{ post.url}}">{{ post.title }}</a></strong>
          <br>
          <span>{{ post.description }}</span> <a class="post-link readmore" href="{{ post.url}}">Read more</a></p>
      </article>
    {% endfor %}

    <h5>Want more? Go back to the <a href="{{ '/' }}">index</a>!</h5>
  </div>
</section>