---
layout: default
---

<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Published {{ page.date | date: "%b %-d, %Y" }}</time>
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
      — 1 min read
    {% else %}
      — {{ words | divided_by:180 }} mins read
    {% endif %}
    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include post-share.html %}
  </div>
</article>

<section class="post-list">
  <div class="container">
    {% assign rsort_posts = site.content | sort: 'date' | reverse %}

    {% comment %}
    Track how much related content is available
    {% endcomment %}

    {% assign num_related_posts = 0 %}

    {% for post in rsort_posts %}
      {% if post.pagination.enabled != false %}
        {% for tag in post.tags %}
          {% if post.url != page.url %}
            {% if page.tags contains tag %}
              {% assign num_related_posts = num_related_posts | plus: 1 %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% if num_related_posts == 1 %}
      <h3>Related Post</h3>
    {% endif %}
    {% if num_related_posts > 1 %}
      <h3>Related Posts</h3>
    {% endif %}

    {% comment %}
    Display related content, up to 3 posts
    {% endcomment %}

    {% assign max_related_posts = 0 %}

    {% for post in rsort_posts %}
      {% assign num_identical_tags = 0 %}
      {% assign common_tags = '' %}

      {% if post.pagination.enabled != false %}
        {% for tag in post.tags %}
          {% if post.url != page.url %}
            {% if page.tags contains tag %}
              {% assign num_identical_tags = num_identical_tags | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
              {% assign common_tags = common_tags | append: tagmarkup %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if num_identical_tags >= 1 %}
        <article class="post-item">
          <p>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — 
            <strong><a class="post-link" href="{{ post.url}}">{{ post.title }}</a></strong>
            <br>
            <span>{{ post.description }}</span> <a class="post-link readmore" href="{{ post.url}}">Read more</a></p>
        </article>
        {% assign max_related_posts = max_related_posts | plus: 1 %}
        {% if max_related_posts >= 3 %}
          {% break %}
        {% endif %}
      {% endif %}

    {% endfor %}

    {% if num_related_posts == 0 %}
      {% assign max_recent_posts = 0 %}
      <h3>Recent Posts</h3>

      {% for post in rsort_posts %}
        {% if post.pagination.enabled != false %}
          {% if post.url != page.url %}
            {% assign max_recent_posts = max_recent_posts | plus: 1 %}
            <article class="post-item">
              <p>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — 
                <strong><a class="post-link" href="{{ post.url}}">{{ post.title }}</a></strong>
                <br>
                <span>{{ post.description }}</span> <a class="post-link readmore" href="{{ post.url}}">Read more</a></p>
            </article>
          {% endif %}
        {% endif %}
        {% if max_recent_posts >= 3 %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <h5>Want more? Go back to the <a href="{{ '/' }}">index</a>!</h5>
  </div>
</section>